<div class="flex-box">
    <div class="atbs-block atbs-block--fullwidth atbs-section-module">
        <div class="atbs-block atbs-block--fullwidth atbs-featured-module-4">
            <div class="block-heading block-heading_style-1 block-heading-no-line">
                <h4 class="block-heading__title">
                    Resultados de busqueda
                </h4>
            </div>
            <div class="atbs-block__inner">
                <div class="posts-list flex-box flex-space-30 flex-box-4i posts-list-tablet-2i">
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="<%= asset_path 'temp/cover-1.png' %>" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="#">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="<%= asset_path 'temp/cover-2.jpeg' %>" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="./single-1.html">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="<%= asset_path 'temp/cover-3.jpeg' %>" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="./single-1.html">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="<%= asset_path 'temp/cover-4.jpeg' %>" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="./single-1.html">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="http://via.placeholder.com/440x500" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="./single-1.html">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="http://via.placeholder.com/440x500" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="./single-1.html">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="http://via.placeholder.com/440x500" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="./single-1.html">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                    <div class="list-item">
                        <article class="post post--overlay post--overlay-normal post--overlay-cylinder-small post--overlay-bottom post--overlay-height-420 b-r-5">
                            <div class="post__thumb post__thumb--overlay atbs-thumb-object-fit">
                                <a href="./single-1.html">
                                    <img src="http://via.placeholder.com/440x500" alt="file not found">
                                </a>
                            </div>
                            <div class="post__text inverse-text">
                                <div class="post__text-wrap">
                                    <div class="post__text-inner">
                                        <h3 class="post__title f-20 f-w-700 m-b-12">
                                            <a href="./single-1.html">Look Deep Into Nature, And  You Will Understand</a>
                                        </h3>
                                        <div class="post-tags m-b-25">
                                            <ul class="list-unstyled list-horizontal">
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#motobike</a></li>
                                                <li><a href="./tags.html" class="post-tag" rel="tag">#booking</a></li>
                                            </ul>
                                        </div>
                                        <div class="post__meta time-style-1 flex-box justify-content-space align-item-center post__meta--border-top">
                                            <div class="post-author post-author_style-6">
                                                <div class="post-author__text">
                                                    <div class="author_name--wrap">
                                                        <span>by</span>
                                                        <a class="post-author__name" title="Posts by Connor Randall" rel="author" href="./author.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <time class="time published" datetime="2019-03-06T08:45:23+00:00" title="March 6, 2019 at 8:45 am">March 6, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./single-1.html" class="link-overlay"></a>
                            <a href="./category.html" class="post__cat post__cat--bg overlay-item--top-left">GADGETS</a>
                        </article>
                    </div>
                </div>
                <nav class="atbs-pagination text-center">
                    <a href="#" class="btn btn-default">Load More</a>
                </nav>
            </div>
        </div>
    </div>
    <%= render 'globals/sticky_aside' %>
</div>